.rbc-month-view {
    border-radius: 1rem;
    border: 1px solid whitesmoke;
}

.rbc-month-row, .rbc-day-bg, .rbc-header {
    border: none !important;
}

.rbc-header {
    line-height: 2.5rem;
}

.rbc-now > .rbc-button-link {
    background-color: #ed6c02;
    color: white;
    border-radius: 50%;
    padding: 0.25rem !important;
}

.rbc-date-cell {
    text-align: center !important;
    line-height: 2.5rem;
}